.root {
  --primaryColor: #0d28a6, #5e70c4, #aeb7e1, #cfd4ed;
}

.body {
  font-family: Helvetica;
}

.heading {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
}

/* Navbar */
.navbar {
  background-color: #f1f3ff;
}

.navbar-brand {
  background-color: #0d28a6;
  padding: 12px 35px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.nav-link {
  font-family: Helvetica;
  font-weight: normal;
}

.off-navbar {
  width: 50%;
}

.btn-success {
  background-color: #5cb85f;
}

/* Home */
.home {
  background-color: #f1f3ff;
}

.img-service {
  margin-left: 100px;
}

.jumbotron {
  padding: 2rem 1 rem;
  background-color: #e5e5e5;
}

.box {
  position: relative;
  width: 100%;
  height: 275px;
  background-color: #f1f3ff;
  border-radius: 8px;
  padding: 14px;
}
.img-area {
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 70px;
}
.img-text {
  display: block;
  text-align: left;
  float: right;
  width: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Testimonial */
.item {
  width: 100%;
  background-color: rgba(241, 243, 255, 1);
}
.card-left {
  width: 50%;
  height: 50%;
  margin: 50px 10px;
}

.card-right {
  text-align: justify;
  font-size: 12px;
  padding: 50px 30px 0 20px;
}

.card-right i {
  color: gold;
  padding-bottom: 10px;
}

.Testimonial-tittle {
  text-align: center;
  padding-top: 100px;
}

.owl-carousel .card-body {
  display: flex;
}

/* Getting Starter */
.gettingstar {
  margin-top: 100px;
  padding: 74px 0 74px 0;
  border-radius: 13px;
  background-color: rgba(13, 40, 166, 1);
}

.accordion .card-header {
  font-family: Helvetica;
  font-size: 14px;
}

.accordion .card-header::after {
  font-family: "FontAwesome";
  content: "\f077";
  float: right;
}

.accordion .card-header.collapsed::after {
  content: "\f078";
}
.accordion .card-block .card-body {
  font-size: 14px;
}

/* footer */
.footer {
  margin-top: 100px;
}

.box {
  background-color: #0d28a6;
  padding: 12px 35px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.footer .footer-link a {
  color: black;
  text-decoration: none;
}

.footer .footer-link a:hover {
  color: blue;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 576px) {
  html {
    overflow-x: hidden;
  }
  /* Navbar */
  .navbar-collapse {
    display: block;
  }

  .register {
    width: 50%;
  }

  .tittle {
    padding-top: 100px;
    font-weight: bold;
  }
  .picture img {
    width: 100%;
    padding-top: 50px;
  }

  .our-service {
    padding-top: 60px;
  }

  .img-service {
    width: 95%;
  }

  .our-service,
  .col-sm-6 {
    padding-left: 10px;
  }

  .text-service p {
    font-size: 13.6px;
  }
  /* testimonial */
  .item {
    width: 95%;
    margin-left: 3%;
  }

  .card-left {
    width: 30%;
    margin: 30px 35%;
  }

  .card-right {
    font-size: 12px;
    padding: 0 20px 30px 20px;
  }

  .card-right i {
    color: gold;
    text-align: center;
  }

  .faq-icon {
    text-align: center;
    padding-bottom: 20px;
  }

  .Testimonial-tittle {
    text-align: center;
    padding-top: 50px;
  }

  .owl-carousel .card-body {
    display: block;
  }

  /* Why-us */
  .card {
    margin-top: 15px;
  }
  .tittle {
    text-align: center;
  }
  /* Getting Starter */
  .gettingstar {
    margin-top: 50px;
    padding: 64px 0 64px 0;
  }
}
